@model NoteManagement.Core.DTOs.Note.NoteDto

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>


<div class="row">

    <div class=col-md-12>

        <h1> @Model.Title </h1>

    </div>


</div>


